<div class="control-section">
  <ejs-treegrid #treegrid  [dataSource]='data' allowSelection='true' allowFiltering='false'   childMapping='subtasks' height='350' [treeColumnIndex]='1' id="treegridcomp" allowPaging='true' [pageSettings]='pageSettings' allowExcelExport='true' allowPdfExport='true' allowSorting='true'[sortSettings]='sortSettings'  (actionComplete)="sort($event)" [contextMenuItems]="contextMenuItems" [editSettings]='editing' [toolbar]="toolbar"  [selectionSettings]='selectionSettings' [showColumnChooser]='true' >
      <e-columns>
          <e-column field='taskID' headerText='Task ID' isPrimaryKey='true' width='80' [edit]='editparams' textAlign='Right' editType='numericedit'></e-column>
          <e-column field='taskName' headerText='Task Name' width='190'>
          </e-column>
          <e-column field='startDate' headerText='Start Date' width='90' format="yMd" textAlign='Right' editType='datepickeredit'></e-column>
          <e-column field='endDate' headerText='End Date' width='90' format="yMd" textAlign='Right' editType='datepickeredit'></e-column>
          <e-column field='duration' headerText='Duration' width='85'  [edit]='editparams' textAlign='Right' editType='numericedit'></e-column>
          <e-column field='progress' headerText='Progress' width='90' textAlign='Right'  [edit]='editparams' editType='numericedit'></e-column>
          <e-column field='priority' headerText='Priority' width='80' textAlign='Left'   editType='stringedit'></e-column>

      </e-columns>
  </ejs-treegrid>
</div>

<div class="col-lg-3 property-section">
  <div class="property-panel-section">
    <tr>
      <td style="width: 70%">
          <div>
              Sort Feature
          </div>
      </td>
      <td style="width: 30%;padding:10px 10px 10px 0px">
          <div class="col-md-6">
              <ejs-checkbox  [checked]="false" (change)="enablesort($event)" ></ejs-checkbox>
          </div>
      </td>
  </tr>
  </div>
</div>
<div class="col-lg-3 property-section" *ngIf="sortenablekey">
  <div class="property-panel-section">
              <div class="property-panel-header">Properties </div>
      <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
          <tr>
              <td style="width: 70%">
                  <div>
                      Task Name
                  </div>
              </td>
              <td style="width: 30%;padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                      <ejs-checkbox #taskName [checked]="true" (change)="onClick1($event)" ></ejs-checkbox>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      Priority
                  </div>
              </td>
              <td style="width: 30%;padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #priority [checked]="true" (change)="onClick2($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      Start Date
                  </div>
              </td>
              <td style="width: 30%; padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #startDate  (change)="onClick3($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      Progress
                  </div>
              </td>
              <td style="width: 30%; padding:10px 10px 10px 0px">
                <div class="col-md-6">
                        <ejs-checkbox  #progress  (change)="onClick4($event)" ></ejs-checkbox>
                    </div>
            </td>
          </tr>
        
      </table>
  </div>
</div>
<div class="col-lg-3 property-section">
  <div class="property-panel-section">
    <tr>
      <td style="width: 70%">
          <div>
              multiselect feature
          </div>
      </td>
      <td style="width: 30%;padding:10px 10px 10px 0px">
          <div class="col-md-6">
              <ejs-checkbox  [checked]="false" (change)="enablemultiselect($event)" ></ejs-checkbox>
          </div>
      </td>
  </tr>
  </div>
</div>
<div class="col-lg-3 property-section" *ngIf="multiselectkey">
  <div class="property-panel-section">
              <div class="property-panel-header">Properties </div>
      <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
          <tr>
              <td style="width: 30%">
                  <div style="padding-top: 7px">Selection Type</div>
              </td>
              <td style="width: 70%;padding-right: 10px">
                  <div>
                          <ejs-dropdownlist #dropdown1 id='element1' width= '110px' [dataSource]='d1data' [fields]='fields1' value='Multiple'(change)="change1($event)"></ejs-dropdownlist>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="width: 30%">
                  <div>
                      Selection Mode
                  </div>
              </td>
              <td style="width: 70%">
                  <div style="padding-right: 10px;padding-bottom: 10px">
                          <ejs-dropdownlist #dropdown2 id='element2' width= '110px' [dataSource]='d2data' [fields]='fields2' value='Row' (change)="change2($event)" ></ejs-dropdownlist>
                  </div>
              </td>
          </tr>
          <tr id='cellselection' style='display: none'>
            <td style="width: 30%;">
                <div>
                   Cell Selection Mode
                </div>
            </td>
            <td style="width: 70%;">
                <div style="padding-right: 10px;padding-bottom: 10px">
                        <ejs-dropdownlist #dropdown3 id='element3' width= '110px' [dataSource]='d3data' [fields]='fields3' value='Flow' (change)="change3($event)"></ejs-dropdownlist>
                </div>
            </td>
        </tr>
      </table>
</div>
</div>